<template>
    <view class="wrap">
        <Authorize @authorizeSuccess="authorizeSuccess()"><u-button @click="authorize">授权</u-button></Authorize>
        <view class="">{{ num | toFixed(2) }}</view>
    </view>
</template>
<script>
import Authorize from '../../../components/Authorize/Authorize.vue';
export default {
    name: '',
    data() {
        return {
            num:3
        };
    },
    computed: {},
    onLoad() {},
    onShow() {},
    methods: {
        authorizeSuccess() {
            this.$showToast('授权成功');
        },
        authorize() {
            this.$showToast('你已经授权了');
        }
    },
    watch: {},
    components: { Authorize },
    onShareAppMessage(res) {
        return {};
    }
};
</script>
<style lang="scss"></style>
