<template>
    <view class="wrap"></view>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    props: {
        name: {
            ype: String,
            default: ''
        }
    },
    computed: {},
    onLoad() {},
    onShow() {},
    methods: {},
    watch: {},
    components: {},
    onShareAppMessage(res) {
        return {};
    }
};
</script>
<style lang="scss"></style>
