<script>
import { mapState, mapMutations } from 'vuex';
import { appAuthorize } from './mixins/appAuthorize.js';
export default {
    mixins: [appAuthorize]
};
</script>

<style>
/*每个页面公共css */
page {
    min-height: 100%;
    display: flex;
}

/* 原生组件模式下需要注意组件外部样式 */
custom-component {
    width: 100%;
    min-height: 100%;
    display: flex;
}

/* 原生组件模式下需要注意组件外部样式 */
m-input {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #efeff4;
    padding: 20upx;
}

.input-group {
    background-color: #ffffff;
    margin-top: 40upx;
    position: relative;
}

.input-group::before {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 1upx;
    content: '';
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background-color: #c8c7cc;
}

.input-group::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1upx;
    content: '';
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background-color: #c8c7cc;
}

.input-row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.input-row .title {
    width: 20%;
    height: 50upx;
    min-height: 50upx;
    padding: 15upx 0;
    padding-left: 30upx;
    line-height: 50upx;
}

.input-row.border::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15upx;
    height: 1upx;
    content: '';
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background-color: #c8c7cc;
}

.btn-row {
    margin-top: 50upx;
    padding: 20upx;
}

button.primary {
    background-color: #0faeff;
}
.bg {
    width: 100%;
    background-color: #f6f8fc;
}
</style>
